<%= form_tag(admin_shop_shop_products_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), method: :post, html: {class: "form-horizontal"})%>
<%= render 'layouts/errors', objects: [@shop_product] %>
  <div class="for-body">
    <div class="row">
      <div class="form-group">
        <%= label_tag :product, t("helpers.label.shop_product.product"), class: "col-md-3 control-label text-right required_asterisk" %>
        <div class="col-md-9">
          <% if @products.count > 0 %>
            <% @products.each do |product| %>
              <label><%= check_box_tag "product_ids[]", product.id, (), class:"product_check_box" %><%= product.name %></label><br>
            <% end %>
          <% else %>
            <p><%= t("pages.shop_product.no_select_product") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shop_shop_products_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue-hoki" %>
        <%= submit_tag "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
