<%= form_for(@shop_product,url: admin_shop_shop_product_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: @shop_product.uid), method: :patch, html:{class: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@shop_product] %>
  <div class="form-body">
    <div class="form-group">
      <%= f.label :price, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.number_field :price, class: "form-control", placeholder: "input shop price" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :quantity, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.number_field :quantity, class: "form-control", placeholder: "input quantity number" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shops_path(business_client_key: @main_business_client.key), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>

<% end %>
