<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Shop Product Add On </span>
    </div>
    <div class="actions">
      <%= link_to new_admin_shop_shop_product_shop_product_add_on_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, shop_product_uid: shop_product.uid), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th> Delete </th>
            <th><%= t("helpers.label.shop_product_add_on.name") %></th>
            <th><%= t("helpers.label.shop_product_add_on.price") %></th>
          </tr>
        </thead>

        <tbody>
          <% shop_product.shop_product_add_ons.each do |shop_product_add_on| %>
            <tr>
              <td> <%= delete_button(admin_shop_shop_product_shop_product_add_on_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, shop_product_uid: shop_product.uid, uid: shop_product_add_on.uid)) %></td>
              <td class="ax-one-line"><%= shop_product_add_on.name %></td>
              <td class="ax-one-line"><%= shop_product_add_on.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
