<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Shop Product </span>
    </div>
    <div class="actions">
      <%= link_to new_admin_shop_shop_product_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.add_product_to_shop") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th>Delete</th>
            <th>Edit</th>
            <th><%= t("helpers.label.shop_product.name") %></th>
            <th><%= t("helpers.label.shop_product.price") %></th>
            <th><%= t("helpers.label.shop_product.quantity") %></th>
          </tr>
        </thead>

        <tbody>
          <% @shop_products.each do |shop_product| %>
            <tr>
              <td><%= delete_button(admin_shop_shop_product_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: shop_product.uid)) %></td>
              <td><%= edit_button(edit_admin_shop_shop_product_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: shop_product.uid)) %></td>
              <td class="ax-one-line"><u><%= link_to shop_product.product.name, admin_shop_shop_product_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: shop_product.uid) %></u></td>
              <td class="ax-one-line"><%= shop_product.price %></td>
              <td class="ax-one-line"><%= shop_product.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= content_for :sub_sidebar do %>
  <%= render 'admin/shops/shop_sidebar', shop: @shop %>
<% end %>
