<li class="dropdown dropdown-user">
  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
    <i class="fa fa-building-o"></i>
    <span class="ax-show-langname"><%= @main_business_client.name %></span>
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-default">
    <%# admin.business_clients.where(type:nil).sort_by{ |bc| bc.name }.each do |business_client| %>
      <li>
        <a href="<%= admin_root_url(business_client_key: @main_business_client.key) %>">
          <i class="fa fa-building-o"></i>
          <%= @main_business_client.name %>
        </a>
      </li>
    <%# end %>
  </ul>
</li>
