<% objects.each do |object| %>
  <% if !object.nil? && object.errors.any? %>
  <div class="alert alert-danger">
    <button class="close" data-close="alert"></button>
    <span>
      <% object.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    </span>
  </div>
  <% end %>
<% end %>
