<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner ">
    <div class="page-logo">
      <a href="#">
        <img src="<%= asset_url 'ml-logo.png' %>" alt="logo" class="logo-default ax-logo-size-image"/>
      </a>
      <div class="menu-toggler sidebar-toggler"><span></span></div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <div class="page-top">
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <% if admin_signed_in? %>
            <li class="dropdown dropdown-user">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="ax-show-langname">
                  <%= admin.email rescue "" %>
                </span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-default">
                <li>
                  <%= link_to admin_admins_path(business_client_key: @main_business_client.key) do %>
                    <i class="icon-user"></i>
                    <%= t("pages.admin.my_profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, :method => :delete do %>
                    <i class="icon-key"></i>
                    <%= t("pages.admin.logout") %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
          <%= render 'layouts/business_client_bar_header', admin: admin %>
        </ul>
      </div>
    </div>
  </div>
</div>
