<% if !@breadcrumbs.nil? && @breadcrumbs.count != 0 %>
<ul class="page-breadcrumb">
  <% @breadcrumbs.each_with_index do |breadcrumb,i| %>
  <% if breadcrumb[:path].nil? || breadcrumb[:path].empty? %>
  <li>
    <span><%= breadcrumb[:name] %></span>
    <% if @breadcrumbs.count-1 != i %>
    <i class="fa fa-angle-right"></i>
    <% end %>
  </li>
  <% else %>
  <li>
    <a href="<%= breadcrumb[:path] %>"><u><%= breadcrumb[:name] %></u></a>
    <% if @breadcrumbs.count-1 != i %>
    <i class="fa fa-angle-right"></i>
    <% end %>
  </li>
  <% end %>
  <% end %>
</ul>
<% end %>
