<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu page-header-fixed <%= 'page-sidebar-menu-closed' if @hide_sidebar %> " data-auto-scroll="false" data-keep-expanded="true" data-slide-speed="100" style="padding-top: 20px">
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler"></div>
      </li>
      <li class="heading">
        <h3 class="uppercase"><%= @main_business_client.name %></h3>
      </li>
      <li class=" ">
        <a class="nav-link" href="<%= admin_admins_path(business_client_key: @main_business_client.key) %>">
          <i class="fa fa-bar-chart"></i>
          <span class="title">Admins</span>
        </a>
      </li>
      <li class=" ">
        <a class="nav-link" href="<%= admin_shops_path(business_client_key: @main_business_client.key) %>">
          <i class="fa fa-bar-chart"></i>
          <span class="title">Shops</span>
        </a>
      </li>
      <li class=" ">
        <a class="nav-link" href="<%= admin_customers_path(business_client_key: @main_business_client.key) %>">
          <i class="fa fa-bar-chart"></i>
          <span class="title">Customers</span>
        </a>
      </li>
      <li class=" ">
        <a class="nav-link" href="<%= admin_product_groups_path(business_client_key: @main_business_client.key) %>">
          <i class="fa fa-bar-chart"></i>
          <span class="title">Product Group</span>
        </a>
      </li>
      <li class=" ">
        <a class="nav-link" href="<%= admin_add_ons_path(business_client_key: @main_business_client.key) %>">
          <i class="fa fa-bar-chart"></i>
          <span class="title">Add On</span>
        </a>
      </li>
    </ul>
  </div>
</div>
