<%= form_for(@product_group, url: @product_group.new_record? ? admin_product_groups_path(business_client_key: @main_business_client.key) : admin_product_group_path(business_client_key: @main_business_client.key, uid: @product_group.uid), method: @product_group.new_record? ? "POST" : "PATCH", html:{class: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@product_group] %>
  <div class="form-body">
    <div class="form-group">
      <%= f.label :name, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control", placeholder: "input produtct group name" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_product_groups_path(business_client_key: @main_business_client.key), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze" %>
      </div>
    </div>
  </div>
<% end %>
