<div class="portlet light portlet-fit bordered setting_sidebar">
  <div class="bold portlet-title uppercase header-setting-sidebar first-setting-header"><%= product_group.name %></div>
  <div class="margin-top-10 profile-usermenu">
    <ul class="nav">
      <li class="">
        <a class="nav-link" href="<%= admin_product_group_path(business_client_key: @main_business_client.key,  uid: product_group.uid) %>">
          <i class="fa fa-info"></i>
          <span class="title"><%= t("pages.product_group.info") %></span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="<%= admin_product_group_products_path(business_client_key: @main_business_client.key, product_group_uid: product_group.uid) %>">
          <i class="fa fa-user"></i>
          <span class="title"><%= t("pages.product_group.product") %></span>
        </a>
      </li>
    </ul>
  </div>
</div>
