<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <title>Product Management : Admin</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= '<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>'.html_safe if Rails.env.production? %>
    <link rel="apple-touch-icon" href="<%=asset_path "apple-touch-icon-precomposed.png" %>"/>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <%# render 'layouts/rollbar' %>
    <% end %>
  </head>

  <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white <%= 'page-sidebar-closed' if @hide_sidebar %> ">
    <%= render 'layouts/header', admin: current_admin %>
    <div class="clearfix"></div>
    <div class="page-container">
      <% if !@hide_sidebar %>
        <%= render 'layouts/sidebar', admin: current_admin %>
      <% end %>
      <div class="page-content-wrapper">
        <div class="page-content">
          <div class="page-bar ax-top-bar">
            <%= render 'layouts/page_head' %>
          </div>
          <% if content_for?(:sub_sidebar) %>
            <div class="subsidebar-menu">
              <%= yield :sub_sidebar %>
            </div>
            <div class="subsidebar-content">
          <% end %>
              <%= render 'layouts/notice' %>
              <%= render 'layouts/alert' %>
              <%= render 'layouts/api_error' %>
              <%= yield %>
          <% if content_for?(:sub_sidebar) %>
            </div>
          <% end %>
        </div>
      </div>
      <%# render 'layouts/business_client/quick_sidebar' %>
    </div>
    <%= render 'layouts/footer' %>
    <!--[if lt IE 9]> <script src="<%= asset_url 'assets/assets/global/plugins/respond.min.js' %>"></script> <script src="<%= asset_url 'assets/assets/global/plugins/excanvas.min.js' %>"></script> <![endif]-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCENvDoexy_O0Laf0JYyFS2orDv8orm-9s"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :jsb %>
    <% if Rails.env.production? %>
      <%= render 'layouts/ga' %>
    <% end %>
  </body>

</html>
