<%= form_for(@time_interval_product, url: @time_interval_product.new_record? ? admin_shop_time_interval_products_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid) : admin_shop_time_interval_product_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: @time_interval_product.uid), method: @time_interval_product.new_record? ? "POST" : "PATCH", html: {class: "form-horizontal"}) do |f| %>
<%= render "layouts/errors", objects: [@time_interval_product] %>
  <div class="form-body">
    <% if @time_interval_product.new_record? %>
      <div class="form-group">
        <%= f.label :name, class: "col-md-3 control-label"  %>
        <div class="col-md-9">
          <%= f.select :shop_product_id, options_for_select(@shop_products.collect{|x| [x.product.name,x.id] }), {class: "form-control", placeholder: "input shop operation name"} %>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.label :name, class: "col-md-3 control-label"  %>
        <div class="col-md-9">
          <%= f.text_field :name, class: "form-control", placeholder: "input name" %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :start_time, class: "col-md-3 control-label"  %>
      <div class="col-md-9">
        <%= f.time_select :start_time, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :end_time, class: "col-md-3 control-label"  %>
      <div class="col-md-9">
        <%= f.time_select :end_time, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shop_time_interval_products_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
<% end %>
