<%= form_for(@status, url: @status.new_record? ? admin_shop_statuses_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid) : admin_shop_status_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: @status.uid), method: @status.new_record? ? "POST" : "PATCH", html: {class: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@status] %>

  <div class="form-body">
    <div class="form-group">
      <%= f.label :name, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control", placeholder: "input stauts" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :notification, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :notification, class: "form-control", placeholder: "input stauts notification" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :step, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.number_field :step, class: "form-control", placeholder: "input stauts step" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shop_statuses_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :sub_sidebar do %>
  <%= render 'admin/shops/shop_sidebar', shop: @shop %>
<% end %>
