<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="icon-settings font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Edit Status </span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="form">
      <%= render 'form' %>
    </div>
  </div>
</div>
