<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Status </span>
    </div>
    <div class="actions">
      <%= link_to new_admin_shop_status_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th><%= t("helpers.label.status.name") %></th>
            <th><%= t("helpers.label.status.notification") %></th>
            <th><%= t("helpers.label.status.step") %></th>
          </tr>
        </thead>

        <tbody>
          <% @statuses.each do |status| %>
            <tr>
              <td class="ax-one-line"><u><%= link_to status.name, admin_shop_status_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: status.uid) %></u></td>
              <td class="ax-one-line"><%= status.notification %></td>
              <td class="ax-one-line"><%= status.step %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= content_for :sub_sidebar do %>
  <%= render 'admin/shops/shop_sidebar', shop: @shop %>
<% end %>
