<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Product Management</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <%= '<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>'.html_safe if Rails.env.production? %>
        <link rel="apple-touch-icon" href="<%=asset_path "apple-touch-icon-precomposed.png" %>"/>
        <%= stylesheet_link_tag 'login/login', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <% if Rails.env.production? %>
          <%# render 'layouts/rollbar' %>
        <% end %>
    </head>

    <body class=" login">
        <div class="logo">
            <a href="<%= root_url %>" class='ax-login-logo'>
                <img src="<%= asset_url 'ad4.png' %>" alt="" />
            </a>
        </div>
        <div class="content">
            <%= yield %>
        </div>
        <div class="copyright"> 2016 &copy; Cloud And Thing </div>
        <!--[if lt IE 9]>
        <script src="<%= asset_url 'assets/assets/global/plugins/respond.min.js' %>"></script>
        <script src="<%= asset_url 'assets/assets/global/plugins/excanvas.min.js' %>"></script>
        <![endif]-->
        <%= javascript_include_tag 'login/login', 'data-turbolinks-track' => true %>
        <% if Rails.env.production? %>
          <%= render 'layouts/ga' %>
        <% end %>
    </body>
</html>
