<%= form_for(business_client) do |f| %>
  <% if business_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_client.errors.count, "error") %> prohibited this business_client from being saved:</h2>

      <ul>
      <% business_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_area :uid %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_area :key %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
