<p id="notice"><%= notice %></p>

<h1>Business Clients</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_clients.each do |business_client| %>
      <tr>
        <td><%= business_client.uid %></td>
        <td><%= business_client.name %></td>
        <td><%= business_client.key %></td>
        <td><%= link_to 'Show', business_client %></td>
        <td><%= link_to 'Edit', edit_business_client_path(business_client) %></td>
        <td><%= link_to 'Destroy', business_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business Client', new_business_client_path %>
