<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @business_client.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business_client.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @business_client.key %>
</p>

<%= link_to 'Edit', edit_business_client_path(@business_client) %> |
<%= link_to 'Back', business_clients_path %>
