<%= form_for(order_product_add_on) do |f| %>
  <% if order_product_add_on.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_product_add_on.errors.count, "error") %> prohibited this order_product_add_on from being saved:</h2>

      <ul>
      <% order_product_add_on.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_area :uid %>
  </div>

  <div class="field">
    <%= f.label :shop_product_add_on_id %>
    <%= f.text_field :shop_product_add_on_id %>
  </div>

  <div class="field">
    <%= f.label :order_product_id %>
    <%= f.text_field :order_product_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
