<p id="notice"><%= notice %></p>

<h1>Order Product Add Ons</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Shop product add on</th>
      <th>Order product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_product_add_ons.each do |order_product_add_on| %>
      <tr>
        <td><%= order_product_add_on.uid %></td>
        <td><%= order_product_add_on.shop_product_add_on %></td>
        <td><%= order_product_add_on.order_product %></td>
        <td><%= link_to 'Show', order_product_add_on %></td>
        <td><%= link_to 'Edit', edit_order_product_add_on_path(order_product_add_on) %></td>
        <td><%= link_to 'Destroy', order_product_add_on, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Product Add On', new_order_product_add_on_path %>
