<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @order_product_add_on.uid %>
</p>

<p>
  <strong>Shop product add on:</strong>
  <%= @order_product_add_on.shop_product_add_on %>
</p>

<p>
  <strong>Order product:</strong>
  <%= @order_product_add_on.order_product %>
</p>

<%= link_to 'Edit', edit_order_product_add_on_path(@order_product_add_on) %> |
<%= link_to 'Back', order_product_add_ons_path %>
