<%= form_for(@employee,url: @employee.new_record? ? admin_shop_employees_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid) : admin_shop_employee_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: @employee.uid), method: @employee.new_record? ? "POST" : "PATCH", html:{class: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@employee] %>
  <div class="form-body">
    <div class="form-group">
      <%= f.label :title, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.select :title, options_for_select(Employee::TITLES.collect {|t| [ t[I18n.locale], t[:value] ] }, @employee.title), {include_blank: "Please Select Title"}, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :first_name, class:"form-control", placeholder: "input first name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :last_name, class:"form-control", placeholder: "input last name"%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :email, class:"form-control", placeholder: "input email"%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :telephone, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :telephone, class:"form-control", placeholder: "input telephone number"%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_area :address, class:"form-control", placeholder: "input Employee address"%>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shop_employees_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :sub_sidebar do %>
  <%= render 'admin/shops/shop_sidebar', shop: @shop %>
<% end %>
