<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Employees </span>
    </div>
    <div class="actions">
      <%= link_to new_admin_shop_employee_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th><%= t("helpers.label.customer.name") %></th>
            <th><%= t("helpers.label.customer.email") %></th>
            <th><%= t("helpers.label.customer.telephone") %></th>
            <th><%= t("helpers.label.customer.address") %></th>
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td class="ax-one-line"><u><%= link_to employee.full_name, admin_shop_employee_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: employee.uid) %></u></td>
              <td class="ax-one-line"><%= employee.email %></td>
              <td class="ax-one-line"><%= employee.telephone %></td>
              <td class="ax-one-line"><%= employee.address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= content_for :sub_sidebar do %>
  <%= render 'admin/shops/shop_sidebar', shop: @shop %>
<% end %>
