<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @order_product.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order_product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_product.quantity %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_product.order %>
</p>

<p>
  <strong>Shop product:</strong>
  <%= @order_product.shop_product %>
</p>

<%= link_to 'Edit', edit_order_product_path(@order_product) %> |
<%= link_to 'Back', order_products_path %>
