<%= form_for(@shop,url: @shop.new_record? ? admin_shops_path(business_client_key: @main_business_client.key) : admin_shop_path(business_client_key: @main_business_client.key, uid: @shop.uid), method: @shop.new_record? ? "POST" : "PATCH", html:{class: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@shop] %>
  <div class="form-body">
    <div class="form-group">
      <%= f.label :name, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control", placeholder: "input shop address" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_area :address, class: "form-control", placeholder: "input shop address" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :telephone, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :telephone, class: "form-control", placeholder: "input telephone number" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shops_path(business_client_key: @main_business_client.key), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>

<% end %>
