<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"><%= t("pages.shop.listing_shops") %></span>
    </div>
    <div class="actions">
      <%= link_to new_admin_shop_path(business_client_key: @main_business_client.key), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th><%= t("helpers.label.shop.name") %></th>
            <th><%= t("helpers.label.shop.telephone") %></th>
            <th><%= t("helpers.label.shop.address") %></th>
          </tr>
        </thead>

        <tbody>
          <% @shops.each do |shop| %>
            <tr>
              <td class="ax-one-line"><u><%= link_to shop.name, admin_shop_path(business_client_key: @main_business_client.key, uid: shop.uid) %></u></td>
              <td class="ax-one-line"><%= shop.telephone %></td>
              <td class="ax-one-line"><%= shop.address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
