/* เอาสีปุ่ม prev,next,today,month,agendaWeek,agendaDay ออก */
.portlet.calendar .mobile .fc-button {
  background-color: transparent;
}

/* จัดตำแหน่งปุ่ม (prev,next,today,month,agendaWeek,agendaDay) ไม่ให้ทับกับ title เมื่อย่อหน้าจอ สำหรับ col-md-6*/
@media screen and (min-width: 1125px) and (max-width: 1137px) ,(max-width: 570px) {
  .col-md-6.col-sm-12 .portlet.calendar .fc-toolbar {
    margin-top: 20px;
  }
  .fc-toolbar .fc-left {
    width: 190px;
  }
}

/* จัดตำแหน่งปุ่ม (prev,next,today,month,agendaWeek,agendaDay) ไม่ให้ทับกับ title เมื่อย่อหน้าจอ สำหรับ col-md-12 */
@media screen and (max-width: 570px) {
  .col-md-12.col-sm-12 .portlet.calendar .fc-toolbar {
    margin-top: 20px;
  }
}

/* จัดตำแหน่งปุ่ม (prev,next,today,month,agendaWeek,agendaDay) ไม่ให้ทับกับเดือน ในหน้าจอขนาดไม่เกิน 360px */
@media screen and (max-width: 360px) {
  .fc-toolbar .fc-left {
    width: 100%;
    height: 33px;
  }
  .portlet.calendar .fc-toolbar h2 {
    font-size: 17px;
    padding-top: 50px;
  }
}
