// สำหรับ permissions checkbox ที่ต้อง indent

.ax-sub-permission {
  padding-left: 25px;
  display: table;
}

// สำหรับ form dateselect ให้เวลาแสดงบน windows ขนาด width ใหญ่กว่าตัวเลข
.ax-date-select {
  display: inline-block;
  width: auto;
  min-width: 55px;
}
