// สำหรับ override logo image ให้ขนาด fit อยู่ใน header
img.logo-default.ax-logo-size-image {
  margin: 0 !important;
  padding-top: 5px;
  height: 40px;
  max-width: 150px;
}

// เปลี่ยนสี bg breadcrumb ให้สีขาว
.page-bar .page-breadcrumb {
  background-color: #ffffff;
}

// สำหรับอะไรก็ตามที่ไม่ต้องการให้ขึ้นบรรทัดใหม่
.ax-one-line {
  white-space: nowrap;
}

// สำหรับ tab menu ที่ต้องการให้ขอบเหลี่ยม
.ax-nav-menu {
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover,
  li.active > a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}

// สำหรับปุ่ม action ที่อยู่ใน table เช่น show/edit/delete
td.ax-action-btns {
  .ax-action-btn {
    margin-right: 0;
  }
}

// แสดงรูป profile จากของเดิมกรอบวงกลม ให้เป็นกรอบสี่เหลี่ยม
.profile-userpic.ax-profile-userpic img {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  min-width: 80%;
}

// สำหรับหัวข้อในหน้า show
.ax-title-user-detail {
  color: #888;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
// ความกว้างสำหรับ หัวข้อ ในตาราง ที่แสดงผลในหน้า show ของ user
.ax-table-label {
  width: 300px;
}

.ax-stamp-image {
  width: 250px;
  height: 145px;
}

.table.ax-table-no-top-border > tbody > tr > td {
  border-top: 0px solid black !important;
}

.ax-text-value-blank:empty:after{
  content: "-";
}

//prevent div with field_with_errors class change view appearance, occurs when there're form error with label/input
.field_with_errors {
  display: inline;
}

.tag-box {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
}

.tag-box-padding {
  padding-left: 7px;
}
