@media (min-width: 992px) {
  .subsidebar-menu{
    float: left;
    width: 250px;
    margin-right: 20px;
  }
  .subsidebar-content {
      overflow: hidden;
  }
}
@media (max-width: 991px) {
  .todo-sidebar {
    float: none;
    width: 100%;
    margin: 0;
  }
  .subsidebar-content {
    overflow: visible;
  }
}
