.page-bar.ax-top-bar {
  padding: 0;
  border-bottom: 0px !important;
  .page-breadcrumb {
    padding-left: 20px;
    width: 100%;
    background: #eef1f5;
  }
  .nav-pills.ax-top-bar-menu > li > a:hover, .nav-pills.ax-top-bar-menu > li > a:focus {
    border-radius: 0!important;
    background: #32C5D2 !important;
  }
  .nav-pills.ax-top-bar-menu {
    margin-bottom: 0px;
    background: #4e5a65 !important;
    li.dropdown > ul.dropdown-menu > li, li.dropdown > ul.dropdown-menu > li > a {
      color: #6e6e6e;
    }
    li, li > a {
      color: #fff;
      border-radius: 0 !important;
    }
    li.active, li.active > a {
      background-color: #32C5D2;
      li.active {
        .title, i {
          color: #fff;
        }
      }
    }
  }
}

.ax-show-langname {
  color: #c6cfda;
}
