<%= form_for(@product, url: @product.new_record? ? admin_product_group_products_path(business_client_key: @main_business_client.key, product_group_uid: @product_group.uid) : admin_product_group_product_path(business_client_key: @main_business_client.key, product_group_uid: @product_group.uid, uid: @product.uid), method: @product.new_record? ? "POST" : "PATCH", html:{class: "form-horizontal"} ) do |f| %>
<%= render 'layouts/errors', objects: [@product] %>

  <div class="form-body">
    <div class="form-group">
      <%= f.label :name, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control", placeholder: "input produtct name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.number_field :price, class: "form-control", placeholder: "input produtct price" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :quantity, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.number_field :quantity, class: "form-control", placeholder: "input produtct quantity" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tag_criteria, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.select :tag_criteria, options_for_select([],@product.tag_criteria), {}, class: "form-control", multiple: true, style:"width: 100%" %>
        <%= f.label :tag_criteria_help, class: "help-block" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_product_group_products_path(business_client_key: @main_business_client.key), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze" %>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :jsb do %>
  <script>
    $('#product_tag_criteria').select2({
      tags: true
    })
  </script>
<% end %>
