<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Product Add On </span>
    </div>
    <div class="actions">
      <%= link_to new_admin_product_group_product_product_add_on_path(business_client_key: @main_business_client.key, product_group_uid: @product_group.uid, product_uid: product.uid), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th> Delete </th>
            <th> Update </th>
            <th><%= t("helpers.label.product_add_on.name") %></th>
            <th><%= t("helpers.label.product_add_on.price") %></th>
          </tr>
        </thead>

        <tbody>
          <% product.product_add_ons.each do |product_add_on| %>
            <tr>
              <td> <%= delete_button(admin_product_group_product_product_add_on_path(business_client_key: @main_business_client.key, product_group_uid: product.product_group.uid, product_uid: product.uid, uid: product_add_on.uid)) %></td>
              <td> <%= edit_button(edit_admin_product_group_product_product_add_on_path(business_client_key: @main_business_client.key, product_group_uid: product.product_group.uid, product_uid: product.uid, uid: product_add_on.uid)) %> </td>
              <td class="ax-one-line"><%= product_add_on.add_on.name %></td>
              <td class="ax-one-line"><%= product_add_on.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
