<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Product </span>
    </div>
    <div class="actions">
      <%= link_to new_admin_product_group_product_path(business_client_key: @main_business_client.key, product_group_uid: @product_group.uid), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th><%= t("helpers.label.product.name") %></th>
            <th><%= t("helpers.label.product.price") %></th>
            <th><%= t("helpers.label.product.quantity") %></th>
            <th><%= t("helpers.label.product.tag_criteria") %></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td class="ax-one-line"><u><%= link_to product.name, admin_product_group_product_path(business_client_key: @main_business_client.key,product_group_uid: @product_group.uid, uid: product.uid) %></u></td>
              <td class="ax-one-line"><%= product.price %></td>
              <td class="ax-one-line"><%= product.quantity %></td>
              <td class="ax-one-line"><%= product.tag_criteria %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= content_for :sub_sidebar do %>
  <%= render 'admin/product_groups/product_group_sidebar', product_group: @product_group %>
<% end %>
