<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="fa fa-building font-green-sharp"></i>
      <span class="caption-subject bold uppercase"><%= @product.name %></span>
    </div>
    <div class="actions pull-right">
      <%= link_to edit_admin_product_group_product_path(business_client_key: @main_business_client.key, product_group_uid: @product_group.uid, uid: @product.uid), class: "btn yellow" do %>
        <i class="fa fa-edit"></i>
        <%= t("button.edit") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table ax-border">
          <tbody>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.product.name") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @product.name %></td>
            </tr>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.product.price") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @product.price %></td>
            </tr>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.product.quantity") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @product.quantity %></td>
            </tr>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.product.tag_criteria") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @product.tag_criteria %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'product_add_ons', product: @product %>

<%= content_for :sub_sidebar do %>
  <%= render 'admin/product_groups/product_group_sidebar', product_group: @product_group %>
<% end %>
