/*
*= require components-font-awesome/css/font-awesome
*= require simple-line-icons/css/simple-line-icons
*= require bootstrap/dist/css/bootstrap.css
*= require jquery.uniform/themes/default/css/uniform.default
*= require assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min

*= require assets/global/plugins/select2/css/select2.min
*= require assets/global/plugins/select2/css/select2-bootstrap.min
*= require assets/pages/css/login.min

*= require assets/global/css/components-rounded.min
*= require assets/global/css/plugins.min
*/
.ax-login-logo {
  img {
    max-height: 100px;
  }
}

.login .content .form-actions {
  border-bottom: 0px !important;
}
