<%= form_for(@admin, url: @admin.new_record? ? admin_admins_path(business_client_id: @main_business_client.key) : admin_admin_path(business_client_id: @main_business_client.key, uid: @admin.uid), method: @admin.new_record? ? "POST" : "PATCH", html: {class: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@admin] %>
  <div class="form-body">
    <div class="form-group">
      <%= f.label :first_name, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :first_name, class:"form-control", placeholder: "input first name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :last_name, class:"form-control", placeholder: "input last name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :email, class:"form-control", placeholder: "input email" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_admins_path(business_client_key: @main_business_client.key), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
<% end %>
