<br>
<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Admin </span>
    </div>
    <div class="actions">
      <%= link_to new_admin_admin_path(business_client_key: @main_business_client.key), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th><%= t("helpers.label.customer.name") %></th>
            <th><%= t("helpers.label.customer.email") %></th>
          </tr>
        </thead>

        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td class="ax-one-line"><u><%= link_to admin.full_name, admin_admin_path(business_client_key: @main_business_client.key, uid: admin.uid) %></u></td>
              <td class="ax-one-line"><%= admin.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
