<%= form_for(@shop_operation_time,url: @shop_operation_time.new_record? ? admin_shop_shop_operation_times_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid) : admin_shop_shop_operation_time_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: @shop_operation_time.uid), method: @shop_operation_time.new_record? ? "POST" : "PATCH", html:{classl: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@shop_operation_time] %>
  <div class="form-body">
    <div class="form-group">
      <%= f.label :name, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control", placeholder: "input shop operation name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :start_time, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.time_select :start_time, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :end_time, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.time_select :end_time, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shop_shop_operation_times_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :sub_sidebar do %>
  <%= render 'admin/shops/shop_sidebar', shop: @shop %>
<% end %>
