<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"><%= t("pages.shop.listing_shops") %></span>
    </div>
    <div class="actions">
      <%= link_to new_admin_shop_shop_operation_time_path(business_client_key: @main_business_client.key,shop_uid:@shop.uid), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th><%= t("helpers.label.shop.name") %></th>
            <th><%= t("helpers.label.shop.start_time") %></th>
            <th><%= t("helpers.label.shop.end_time") %></th>
          </tr>
        </thead>

        <tbody>
          <% @shop_operation_times.each do |shop_operation_time| %>
            <tr>
              <td class="ax-one-line"><u><%= link_to shop_operation_time.name, admin_shop_shop_operation_time_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: shop_operation_time.uid) %></u></td>
              <td class="ax-one-line"><%= shop_operation_time.start_time %></td>
              <td class="ax-one-line"><%= shop_operation_time.end_time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= content_for :sub_sidebar do %>
  <%= render 'admin/shops/shop_sidebar', shop: @shop %>
<% end %>
