<div class="portlet light portlet-fit bordered setting_sidebar">
  <div class="bold portlet-title uppercase header-setting-sidebar first-setting-header"><%= shop.name %></div>
  <div class="margin-top-10 profile-usermenu">
    <ul class="nav">
      <li class="">
        <a class="nav-link" href="<%= admin_shop_path(business_client_key: @main_business_client.key,  uid: shop.uid) %>">
          <i class="fa fa-info"></i>
          <span class="title"><%= t("pages.shop.info") %></span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="<%= admin_shop_shop_operation_times_path(business_client_key: @main_business_client.key, shop_uid: shop.uid) %>">
          <i class="fa fa-user"></i>
          <span class="title"><%= t("pages.customer.order") %></span>
        </a>
      </li>
    </ul>
  </div>
</div>
