<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="fa fa-building font-green-sharp"></i>
      <span class="caption-subject bold uppercase"><%= @customer.full_name %></span>
    </div>
    <div class="actions pull-right">
      <%= link_to edit_admin_customer_path(business_client_key: @main_business_client.key, uid: @customer.uid), class: "btn yellow" do %>
        <i class="fa fa-edit"></i>
        <%= t("button.edit") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table ax-border">
          <tbody>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.shop.name") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @customer.full_name %></td>
            </tr>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.shop.email") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @customer.email %></td>
            </tr>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.shop.telephone") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @customer.telephone %></td>
            </tr>
            <tr>
              <td class="ax-title-width-table"><strong><%= t("helpers.label.customer.address") %>:</strong></td>
              <td class="ax-text-value-blank"><%= @customer.address %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'customer_orders', customer: @customer %>
