<%= form_for(@product_add_on,url: admin_product_group_product_product_add_on_path(business_client_key: @main_business_client.key, product_group_uid: @product.product_group.uid, product_uid: @product.uid, uid: @product_add_on.uid), method: :patch, html:{class: "form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects: [@product_add_on] %>
  <div class="form-body">
    <div class="form-group">
      <%= f.label :price, class: "col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.number_field :price, class: "form-control", placeholder: "input shop price" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_product_group_product_path(business_client_key: @main_business_client.key, product_group_uid: @product.product_group.uid, uid: @product.uid), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
<% end %>
