<%= form_tag(admin_product_group_product_product_add_ons_path(business_client_key: @main_business_client.key, product_group_uid: @product.product_group.uid, product_uid: @product.uid), method: :post, html: {class: "form-horizontal"})%>
<%= render 'layouts/errors', objects: [@product] %>
  <div class="for-body">
    <div class="row">
      <div class="form-group">
        <%= label_tag :product, t("helpers.label.shop_product.product"), class: "col-md-3 control-label text-right required_asterisk" %>
        <div class="col-md-9">
          <% if @add_ons.count > 0 %>
            <% @add_ons.each do |add_on| %>
              <label><%= check_box_tag "add_on_ids[]", add_on.id, (), class:"product_check_box" %><%= add_on.name %></label><br>
            <% end %>
          <% else %>
            <p><%= t("pages.shop_product.no_select_add_on") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_product_group_product_path(business_client_key: @main_business_client.key, product_group_uid: @product.product_group.uid, uid: @product.uid), class: "btn blue-hoki" %>
        <%= submit_tag "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
