<p id="notice"><%= notice %></p>

<h1>Product Add Ons</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Price</th>
      <th>Product</th>
      <th>Add on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_add_ons.each do |product_add_on| %>
      <tr>
        <td><%= product_add_on.uid %></td>
        <td><%= product_add_on.price %></td>
        <td><%= product_add_on.product %></td>
        <td><%= product_add_on.add_on %></td>
        <td><%= link_to 'Show', product_add_on %></td>
        <td><%= link_to 'Edit', edit_product_add_on_path(product_add_on) %></td>
        <td><%= link_to 'Destroy', product_add_on, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Add On', new_product_add_on_path %>
