<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @product_add_on.uid %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_add_on.price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_add_on.product %>
</p>

<p>
  <strong>Add on:</strong>
  <%= @product_add_on.add_on %>
</p>

<%= link_to 'Edit', edit_product_add_on_path(@product_add_on) %> |
<%= link_to 'Back', product_add_ons_path %>
