<%= form_tag(admin_shop_shop_product_shop_product_add_ons_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, shop_product_uid: @shop_product.uid), method: :post, html: {class: "form-horizontal"})%>
<%= render 'layouts/errors', objects: [@shop_product_add_on] %>
  <div class="form-body">
    <div class="row">
      <div class="form-group">
        <%= label_tag :product, t("helpers.label.shop_product.product"), class: "col-md-3 control-label text-right required_asterisk" %>
        <div class="col-md-9">
          <% if @product_add_ons.count > 0 %>
            <% @product_add_ons.each do |product_add_on| %>
              <label><%= check_box_tag "product_add_on_ids[]", product_add_on.id, (), class:"product_check_box" %><%= product_add_on.add_on.name %></label><br>
            <% end %>
          <% else %>
            <p><%= t("pages.shop_product.no_select_add_on") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_shop_shop_product_path(business_client_key: @main_business_client.key, shop_uid: @shop.uid, uid: @shop_product.uid), class: "btn blue-hoki" %>
        <%= submit_tag "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
