<p id="notice"><%= notice %></p>

<h1>Shop Product Add Ons</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Price</th>
      <th>Product add on</th>
      <th>Shop product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shop_product_add_ons.each do |shop_product_add_on| %>
      <tr>
        <td><%= shop_product_add_on.uid %></td>
        <td><%= shop_product_add_on.name %></td>
        <td><%= shop_product_add_on.price %></td>
        <td><%= shop_product_add_on.product_add_on %></td>
        <td><%= shop_product_add_on.shop_product %></td>
        <td><%= link_to 'Show', shop_product_add_on %></td>
        <td><%= link_to 'Edit', edit_shop_product_add_on_path(shop_product_add_on) %></td>
        <td><%= link_to 'Destroy', shop_product_add_on, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop Product Add On', new_shop_product_add_on_path %>
