<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @shop_product_add_on.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop_product_add_on.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shop_product_add_on.price %>
</p>

<p>
  <strong>Product add on:</strong>
  <%= @shop_product_add_on.product_add_on %>
</p>

<p>
  <strong>Shop product:</strong>
  <%= @shop_product_add_on.shop_product %>
</p>

<%= link_to 'Edit', edit_shop_product_add_on_path(@shop_product_add_on) %> |
<%= link_to 'Back', shop_product_add_ons_path %>
