<%= form_for(@add_on, url: @add_on.new_record? ? admin_add_ons_path(business_client_key: @main_business_client.key) : admin_add_on_path(business_client_key:@main_business_client.key, uid: @add_on.uid), mthod: @add_on.new_record? ? "POST" : "PATCH", html:{class:"form-horizontal"}) do |f| %>
<%= render 'layouts/errors', objects:[@add_on] %>

  <div class="form-body">
    <div class="form-group">
      <%= f.label :name, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class:"form-control", placeholder: "input first name" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price, class:"col-md-3 control-label" %>
      <div class="col-md-9">
        <%= f.number_field :price, class:"form-control", placeholder: "input first name" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="rows">
      <div class="col-md-offset-3 col-md-9">
        <%= link_to t("button.back"), admin_add_ons_path(business_client_key: @main_business_client.key), class: "btn blue-hoki" %>
        <%= f.submit "Save", class: "btn green-haze"%>
      </div>
    </div>
  </div>
<% end %>
