<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption font-green-sharp">
      <i class="font-green-sharp"></i>
      <span class="caption-subject bold uppercase"> Product Group</span>
    </div>
    <div class="actions">
      <%= link_to new_admin_add_on_path(business_client_key: @main_business_client.key), class: "btn blue" do %>
        <i class="fa fa-plus"></i>
        <%= t("button.new") %>
      <% end %>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table should-datatable table-condensed">
        <thead>
          <tr>
            <th><%= t("helpers.label.add_on.name") %></th>
            <th><%= t("helpers.label.add_on.price") %></th>
          </tr>
        </thead>

        <tbody>
          <% @add_ons.each do |add_on| %>
            <tr>
              <td class="ax-one-line"><u><%= link_to add_on.name, admin_add_on_path(business_client_key: @main_business_client.key, uid: add_on.uid) %></u></td>
              <td class="ax-one-line"><%= add_on.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
